.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.nyc_output/**
coverage/**
**/.nycrc.json
esbuild.js
images/*
**/.lastModified
**/.npmignore
